.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.buttonContainer {
  margin-top: 20px;
}

.confirmButton,
.cancelButton {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmButton {
  background-color: #d9534f;
  color: white;
}

.cancelButton {
  background-color: #f0f0f0;
  color: #333;
}
